<% for(var i=0;i<groupes.length;i++){%>
    <tr>
        <th><%= i+1 %></th>
        <td><%= groupes[i].id_person.name%></td>
        <td><%= groupes[i].group_nom %></td>
        <td>
          <a href="/group/admin/update_group?id=<%= groupes[i]._id %>" class="btn border-shadow update">
            <span class="text-gardient"><i class="fas fa-pencil-alt"></i></span>
          </a>
          <a  class="btn border-shadow delete" data-nd=<%= groupes[i]._id %> >
            <span class="text-gardient"><i class="fas fa-times"></i></span>
          </a>
        </td>  
    </tr>
    <% } %>