<%- include('includes/_headerAdmin') %>
<ul class="navbar-nav ml-auto"> 
  <li class="nav-item">
      <a class="nav-link" href="#"></a>
  </li>
  <li class="nav-item">
    
      <a class="nav-link" href="/auth/logout">Logout</a>
  </li>
  </ul>
</div>
</div>
</nav>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1 class="mb-3">
          <img src="/assets/secure-icon.png" alt="icon" width="20%" />
        </h1>
        <h2>
          Modifier un utilisateur
        </h2>
        <%- include ("./messages") %>
        <form  method="POST" id="update_user" >
          <div class="form-group">
            <label for="name">Nom</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text"  name="name" class="form-control" placeholder="test test"
              value="<%= user.name %>" />
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input type="text"  name="email" class="form-control" placeholder="example@gmail.com"
              value="<%= user.email %>" />
          </div>
          <div>
            <button type="submit" class="btn btn-primary btn-block">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('includes/_footer') %>