<%- include('includes/_header') %>
<ul class="navbar-nav ml-auto"> 
  <li class="nav-item">
    <a STYLE="text-shadow: -1px -1px 1px #aaa,
    0px 4px 1px rgba(0,0,0,0.5),
    4px 4px 5px rgba(0,0,0,0.7),
    0px 0px 7px rgba(0,0,0,0.4)" class="nav-link" href="#">Welcome <%= name %></a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/auth/logout">Logout</a>
  </li>
  </ul>
</div>
</div>
</nav>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1 class="mb-3">
          <img src="/assets/secure-icon.png" alt="icon" width="20%" />
        </h1>
        <h2>
          Modifier un appareil
        </h2>
        <%- include ("./messages") %>
        <form  method="POST" id="update_group" >
          <div class="form-group">
            <label for="group_nom">Nom du Groupe</label>
            <input type="hidden" name="id" value="<%= group._id %>">
            <input type="text"  name="group_nom" class="form-control" placeholder="test"
              value="<%= group.group_nom %>" />
          </div>
          <div>
            <button type="submit" class="btn btn-primary btn-block">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('includes/_footer') %>